<?php $weather = json_decode($this->getWether()['weather'], true) ?>
<div class="widget__temperature">
    <div id="weather-widget" class="weather-widget">
        <h2 class="weather-widget__city-name">Weather in <?php echo $weather['name'] ?>, <?php echo $weather['sys']['country'] ?></h2>
        <h3 class="weather-widget__temperature"><?php echo $weather['main']['temp'] ?> °C</h3>
        <p class="weather-widget__main"><?php echo $weather['weather'][0]['main'] ?></p>
        <p><?php echo date("G:i, M j") ?></p>
        <table class="weather-widget__items">
            <tbody>
                <tr class="weather-widget__item">
                    <td>Wind</td><td id="weather-widget-wind"><?php echo $weather['wind']['speed'] ?> m/s</td>
                </tr>
                <tr class="weather-widget__item">
                    <td>Cloudiness</td><td id="weather-widget-cloudiness"><?php echo $weather['weather'][0]['description'] ?></td></tr>
                <tr class="weather-widget__item">
                    <td>Pressure</td><td><?php echo $weather['main']['pressure'] ?> hpa</td>
                </tr>
                <tr class="weather-widget__item">
                    <td>Humidity</td><td><?php echo $weather['main']['humidity'] ?> %</td>
                </tr>
                <tr class="weather-widget__item">
                    <td>Sunrise</td><td><?php echo date("H:i", $weather['sys']['sunrise']) ?> </td>
                </tr>
                <tr class="weather-widget__item">
                    <td>Sunset</td><td><?php echo date("H:i", $weather['sys']['sunset']) ?> </td>
                </tr>
                <tr class="weather-widget__item">
                    <td>Geo coords</td><td>[<span id="wrong-data-lat"><?php echo $weather['coord']['lat'] ?></span>,&nbsp;<span idwrong-data-lon"><?php echo $weather['coord']['lon'] ?></span>]</td>
                </tr>
                <tr class="weather-widget__item">
                    <td>Last update</td><td><?php echo date("H:i", strtotime($this->getWether()['created_at'])) ?></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>