.widget__temperature {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 600px;
  width: 25%;
  margin-right: 30px;
  padding-bottom: 30px;
}

.weather-widget__item td {
  text-align: left;
  padding: 5px;
  border: 1px solid #ddd;
}

.weather-widget__item:nth-child(odd) {
  background-color: #f9f9f9;
}